.page-\[bingo_card\] {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.page-\[bingo_card\] .bingo_card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.page-\[bingo_card\] .bingo_card .bingo_card_cell {
    padding: 15px;
    text-align: center;
    font-size: 32px;
    line-height: 1;
    user-select: none;
}

.page-\[bingo_card\] .bingo_card .bingo_card_cell:not(.special) {
    cursor: pointer;
}

.page-\[bingo_card\] .bingo_card .bingo_card_cell:not(.special):hover {
    background-color: #f0f0f0;
    transition: 0.1s;
}

.page-\[bingo_card\] .bingo_card .bingo_card_cell.special {
    font-weight: 700;
}

.page-\[bingo_card\] .color_pickers {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.page-\[bingo_card\] .color_pickers .input_group {
    display: flex;
    align-items: center;
    padding: 10px;
}

.page-\[bingo_card\] .color_pickers .input_group label {
    padding: 0 10px;
}

.page-\[bingo_card\] .buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
}